.header {
    height: 80px;
    background-color: #fce500;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headerContainer {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: 0 auto;
}