.contactsBlock {
    background-color: #222222;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.contactsForm {
    display: flex;
    width: 280px;
    height: 100px;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
}

.contactsForm input, .contactsForm textarea {
    width: 100%;
}

.submitBtn {
    color: #282c34;
    background-color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
}