.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    height: 100%;
    margin: 0 auto;
    /*border: 2px solid darkred;*/
}