.skill {
    display: flex;
    width: 250px;
    padding: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: greenyellow;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #282c34;
}