@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.skillsBlock {
  background-color: $bgSecondColor;
  position: relative;
  padding: 60px 0;
}

.skillsContainer {
  @include container();
  @include flex(flex-start, center, column, nowrap);
}

.skills {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 678px) {
  .skills {
    justify-content: center;
  }
}
