.skillsBlock {
    background-color: #222222;
    position: relative;
    padding-bottom: 80px;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}


.skills {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    /*border: 1px solid;*/
}