@import '../../common/styles/sass/variables.scss';
@import '../../common/styles/sass/mixins.scss';

.project {
  display: flex;
  width: 450px;
  flex-direction: column;
  margin: 0 20px;

  .imgContainer {
    position: relative;
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 4px solid $primaryColor;
    border-radius: 5px 5px 0 0;

    &::before {
      position: absolute;
      content: '';
      background-color: black;
      opacity: 0.4;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    a.button, a.buttonSecond {
      position: relative;
      border: 1px solid $primaryColor;
      background-color: $primaryColor;
      text-decoration: none;
      color: $bgColor;
      padding: 10px 30px;
      font-weight: 400;
      line-height: 1.6;
      z-index: 1;
      border-radius: 5px;
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;

      &:hover {
        background-color: transparent;
        border: 1px solid #ffb400;
        color: $textSecondColor;
        transition: 0.5s;
      }
    }

    a.buttonSecond {
      background-color: transparent;
      color: $textSecondColor;

      &:hover {
        background-color: $primaryColor;
        color: $bgColor;
        transition: 0.5s;
      }
    }
  }

  .projectInfo {
    padding: 20px 25px 25px;
    background-color: $bgSecondColor;
    border-radius: 0 0 5px 5px;

    .ProjectTitle {
      margin: 0 0 8px 0;
      color: $textColor;
      cursor: pointer;
      @include text($fontFamily, 20px, 600, 26px);
    }

    .description {
      margin: 15px 0 5px;
      cursor: pointer;
      color: $textSecondColor;
      @include text($secondFontFamily, 17px, 500, 1.6);
    }
  }
}

@media screen and (max-width: 1155px) {
  .project {
    margin-bottom: 60px;
  }
}