@import '../common/styles/sass/variables.scss';

.nav {
    width: 375px;
    display: flex;
    justify-content: space-between;
    a {
        color: $textSecondColor;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        &:hover {
            transition: 0.7s;
            color: $primaryColor;
        }
    }
}