$bgColor: #0E0E0E;
$bgSecondColor: #252525;
$primaryColor: #ffb400;
$textColor: #fff;
$textSecondColor: hsla(0, 0%, 100%, .8);
$fontFamily: 'Poppins', sans-serif;
$secondFontFamily: 'Open Sans', sans-serif;