@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.footerBlock {
    background-color: $bgColor;
    padding: 60px 0;
}

.footerContainer {
    @include container();
    @include flex(flex-start, center, column, nowrap);
}

span {
    color: $textColor;
}

.SocialContainer {
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 60px;
    z-index: 11;
}

.socialImg {
    color: $textColor;
    font-size: 40px;
    cursor: pointer;
}
