.footerBlock {
    background-color: #0E0E0E;
}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
}

span {
    color: #ffffff;
    padding-bottom: 40px;
}

.SocialContainer {
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 60px;
    z-index: 11;
}


.socialImg {
    color: #ffffff;
    font-size: 40px;
    cursor: pointer;
}