@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.projectsBlock {
  background-color: $bgColor;
  padding: 60px 0;

  .projectsContainer {
    @include flex(flex-start, center, column, nowrap);
    @include container();

    .projects {
      width: 100%;
      @include flex(space-between, flex-start, row, wrap);
    }

    @media screen and (max-width: 1200px) {
      .projects {
        justify-content: center;
      }
    }
  }
}
