.projectsBlock {
    min-height: 100vh;
    background-color: #f497c5;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #ffffff;
}

.projects {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid;
}